extends layout

block content
  .container
    h1= item.title

    .item-card
      p
        strong Author/Artist:
        |  #{item.author_artist || "Not provided"}

      p
        strong Media Type:
        |  #{item.media_type || "Not provided"}

      if item.media_type === "Book"
        p
          strong ISBN:
          |  #{item.isbn_album_title || "Not provided"}
      else if item.media_type === "Record"
        p
          strong Edition:
          |  #{item.isbn_album_title || "Not provided"}
      else
        p
          strong Identifier:
          |  #{item.isbn_album_title || "Not provided"}

      p
        strong Category:
        |  #{item.category || "Not provided"}

      p
        strong Condition:
        |  #{item.item_condition || "Not provided"}

      hr

      h3 Description

      if item.description
        p= item.description
      else
        p No description provided.

      hr

      .owner-info
        p
          strong Listed by:
          |  
          a(href=`/users/${item.user_id}`)= item.username

      .actions
        if user && Number(item.user_id) !== Number(user.id)
          form(action=`/swaps/request/${item.id}` method="POST")
            button.btn(type="submit") Request Swap

        if user && Number(item.user_id) === Number(user.id)
          a.btn(href=`/listings/${item.id}/edit`) Edit Listing

          form(
            action=`/listings/${item.id}/delete`
            method="POST"
            onsubmit="return confirm('Are you sure you want to delete this listing?');"
          )
            button.btn(type="submit") Delete Listing

        a.btn(href="/listings") ← Back to All Listings